.page-title {
    margin-bottom: 20px;
}

.input-value {
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.result-container {
    margin-top: 20px;
}

.result-label {
    font-weight: bold;
    font-size: 18px;    
}


footer {
    font-weight: bold;
    margin-top: 40px;
}
